.filterPanel {
    width: 232px;
    background-color: green;
    padding-left: 10px;
}

.filterPanel__article {
    font-size: 12px
}

.filterPanel__list {
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
}

.filterPanel__listItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center
}

.filterPanel__listItem:hover {
    background-color: white
}